/* Faqat React da semantic HTML teglari o'rniga div + className ishlatiladi. Mantiq bir xil! ✅ */

/* className app bu -> body qism */
.app {
  height: 100vh;
  color: #000;
}

/* className content ->  main qism */
.content {
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  padding: 5rem 0;
}

/* className search-panel -> alohida section qismi */
.search-panel {
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 4px;
  background-color: #fcfaf5;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
}









/* app-info o'zi yasab oldi to'rtburchak va shadowlarni o'zini componentida */
/* ammo search panel ikkita komponentni o'z ichiga olgan div bo'lgani sababli uni 4 burchagi va shadowlarini 
ota componentning style qismida qilib berishimizga to'g'ri keladi */


